.margintop {

  margin-top: 50px;
  margin-bottom: 50px;
  font-family: "Helvetica", sans-serif;
}
.projectbody{
  margin-top: 25px;
  font-family: "Helvetica", sans-serif;
}
.footer {
    margin-top: 25px;
    position: 0;
    bottom: 0;
}